<!doctype html>
<html lang="en">

    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <title>
            {% block head_title %}
            {% endblock head_title %}
            Bookshelf browser

        </title>
        <style>
            .nounderline {
                text-decoration: none !important;
            }

            a {
                color: teal;
            }

            a:hover {
                color: red;
            }
        </style>
    </head>

    <body>

        <nav class="shadow nav navbar mb-4 row pb-0 bg-info">
            <div class="container text-white mx-auto col-md-8 py-0">
                <a href="{% url 'index' %}" class="nounderline">
                    <h1 class="d-inline text-white float-left px-3">Bookshelf browser</h1>
                </a>
            </div>
        </nav>



        <div class="container" style="min-height: 70vh;">
            {% block content %}

            {% endblock content %}

        </div>
        <div class="container-fluid bg-info mt-5 py-5 text-center text-white">
            <h5>Made with ❤️ and python</h5>
        </div>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script> -->
    </body>

</html>