{% extends 'base.html' %}

{% block head_title %}
{{shelf_name}} | 
{% endblock head_title %}
{% block content %}


<div class="col-12 col-md-8 mx-auto mt-3 text-center">
  <h2>Browsing the bookshelf: {{shelf_name}}</h2>
</div>

{% for book in book_list %}

<div class="shadow card text-left col-12 col-md-8 mx-auto mt-5">
  <div class="card-body">
    <div class="row">
      <div class="col-1 mx-3">
        <img src="{{book.image}}" alt="{{book.name}}" class="float-left">
      </div>
      <div class="col">
        <h5 class="card-title">
          <a href="{{book.url}}">{{book.name}}</a>
        </h5>
        <p class="card-text">
          Author: <a href="{{book.author_url}}">{{book.author}}</a>
        </p>
        <p class="card-text text-muted">
          {{book.shelf_description}}
        </p>
      </div>
    </div>
  </div>
</div>

{% empty %}

<div class="col-12 col-md-8 mx-auto mt-3 text-center">
  <h2>Empty Bookshelf</h2>
</div>

{% endfor %}

{% endblock content %}